<%- include  header.ejs %>
<main> 
        <ul class="tab-navigation">
                <li>Feed+</li>
                <li>Student</li>
                <li>Quick</li>
        </ul>
        <ul class="tab-content">
            <li class="active"
            <li>hiiujoijopjo</li>
            <li> 

                <% for (var i = 0; i < recipes.length; i++){ %>
                    <a href="/detail/<%= recipes[i]._id %>">
                        <img src="<%= recipes[i].image %>"/>
                        <h2><%= recipes[i].name %></h2>
                        <h4><%= recipes[i].preptime %></h4>
                        <h4><%= recipes[i].cuisine %></h4>
                    </a>
                <% } %>

            </li>
            <li>cdieusdekd</li>
        </ul>     
<script>
    let navLinks = document.querySelectorAll("ul.tab-navigation li");

navLinks.forEach(function(navLink, i){
  navLink.addEventListener("click", function(e){
    
    let tabContents = document.querySelectorAll("ul.tab-content li");
    tabContents.forEach(function(tabContent, j){
      tabContent.classList=""
      if (i === j){
        tabContent.classList = "active"
      }
    })
    
  })
})
</script>
</main>
<%- include  footer.ejs %>