<%- include  header.ejs %>
<!-- <main>
    <ul>
        <li>
            <h1><%= recipe.name %></h1>
            </li>
        <li>
            <h2><%= recipe.preptime %></h2>
        </li>
        <li>
            <h2><%= recipe.cuisine %></h2>
        </li>
        <li>
            <h2><%= recipe.type %></h2>
        </li>
        <li>
            <p><%= recipe.ingredients %></p>
        </li>
        <li>
        <p><%= recipe.method %></p>
        </li>
    </ul>
</main> -->
<%- include  footer.ejs %>