<%- include  header.ejs %>
<main>
    <ul class="menu-container">
        <% for (var i = 0; i < recipe.length; i++){ %>
        <li>
            <a href="/detail">
                <img src="turkishpizza.jpg"/>
                <h2><%= recipe[i].name %></h2>
                <h4><%= recipe[i].prepTime %></h4>
                <h4><%= recipe[i].cuisine %></h4>
            </a>
        </li>
        <% } %>  
    </ul>
    
</main>
<%- include  footer.ejs %>

